.mtl-filter-section {
	display: inline-flex;
	align-items: center;
}

#mtl-filter-form hr {
	margin: .5em;
}

#mtl-search-submit-closed {
	display: flex;
	position: relative;
	bottom: 1.3em;
	left: 1em;
	width: calc(100% - 1em);
	justify-content: space-between;
	margin-bottom: -1.3em;
}