.mtl-filter-section {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

#mtl-filter-form hr {
	margin: .5em;
}

#mtl-filter-details>summary.closed {
	position: relative;
	top: .5em;
}

#mtl-search-submit-closed {
	position: relative;
	left: 1em;
	width: calc(100% - 1em);
	margin-bottom: -1.3em;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#mtl-search-submit-closed.open {
	bottom: 1.3em;
}

#mtl-search-submit-closed.closed {
	bottom: 1.8em;
}

.vertical-center {
	margin-top: auto;
	margin-bottom: auto;
}