/* Styles for MTL single proposal */

/* created by Johannes Bouchain, 2015-04-11 */

/* tag list */

#content div.post-tags {
	padding:20px 0 0 0;
	margin-bottom:20px;
}
#content div.post-tags h3 {
	text-align:left;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	font-weight:bold;
	padding:0;
	margin:0;
}

#content div.post-tags ul,
#content div.post-tags li {
	display:inline;
	margin:0;
}

#content div.post-tags li {
	line-height:1.6em;
}

#content div.post-tags li a {
	padding:0 6px;
	background:#999999;
	color:white;
	font-weight:bold;
	white-space:nowrap;
}

#content div.post-tags p {
	padding-top:12px;
}

/* comment form */

#commentform label {
	display:block;
}

#commentform label[for="comment"]:before {
	content: "Dein ";
}

#commentform label[for="comment"] {
	font-weight:bold;
}

#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="url"],
#commentform textarea {
	border:1px solid #cccccc;
	background:#f9fffa;
	width:100%;
	box-sizing:border-box;
	padding:4px 6px;
	font-size:120%;
	color:#666666;
}

#commentform .form-allowed-tags {
	display:none;
}

h2.comments-title {
	clear:both;
	padding-top:18px;
}

ol.comment-list {
	margin-left:0;
}

#comments img.avatar {
	display:none;
}

li.comment {
	list-style:none;
	margin-bottom:12px;
	background:#f0ffee;
	border-radius:3px;
	padding:5px 10px;
}

aside.mtl-revision-switcher {
	--revision-switcher-width: calc((100vw - 980px) / 2);

	position: absolute;
	right: calc(50% - 470px - var(--revision-switcher-width));
	top:0px;
	bottom:0px;
	width: var(--revision-switcher-width);
	overflow: auto;
}

.mtl-revision-range-wrapper {
	position: relative;
}

#mtl-revision-switcher input[type="range"] {
	writing-mode: vertical-lr;
	padding: 0;
	box-sizing: initial;
	border: none;

	height: 550px;
}

.mtl-revision-switcher datalist {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute;
	margin-left: 5px;
	height: calc(100% - 5px);
}
