/* Styles for MTL star rating */

/* created by Johannes Bouchain, 2015-04-11 */

/* star rating */
.mtl-rating-section {
	background:#e9e9e9;
	padding:10px;
	margin-bottom:20px;
}

.mtl-rating-box {
	padding:4px 8px 2px;
	display:inline-block;
	vertical-align:middle;
	margin:3px 10px 3px 0;
	background:#E6137E;
	border-radius:30px;
}

.mtl-rating-details {
	display:none;
	border:1px solid #cccccc;
	background:white;
	padding:5px;
	color:#666666;
	margin-top:10px;
}

.mtl-rating-section  .show-text,
.mtl-rating-section  .hide-text {
	display:none;
}

.mtl-rating-subsection {
	padding-bottom:8px;
}

.mtl-rating-subsection .text {
	display:inline-block;
	vertical-align:middle;
	margin-bottom:9px;
}

.mtl-rating-subsection.active,
.mtl-rating-subsection.readonly {
	display:none;
}

.mtl-rating-section.editors .mtl-rating-subsection.active {
	display:block;
}

.mtl-rating-box.active,
.mtl-rating-box.readonly {
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}

.rating-message {
	padding:6px;
	margin-bottom:6px;
}

.rating-message.success {
	border:2px solid #009900;
	background:#eeffee;
}

.rating-message.error {
	border:2px solid red;
	background:#ffeeee;
}

.has-rated {
	font-size:90%;
}

/* tile rating section */

#content .mtl-post-tile .tile-rating-section {
	display:block;
	position:absolute;
	top:163px;
	width:190px;
	text-align:right;
}

#content .mtl-post-tile span.tile-rating-section,
#content .mtl-post-tile .tile-rating-section.not-rated {
	font-size:80%;
	text-align:left;
}

#content .mtl-post-tile .mtl-tile-rating {
	display:block;
	float:left;
}

#content .mtl-post-tile .tile-rating-section .text {
	font-size:90%;
}

#content .mtl-post-tile .tile-rating-section:after {
	content:" ";
	font-size:0;
	display:block;
	clear:both;
}

form#rating-form {
	padding-top:6px;
}

#content .mtl-post-tile .has-rated:after {
	display:inline-block;
	font-family:FontAwesome;
	content:"\f00c";
}

/* thumblist maps with rating */
#content .mtl-thumblist-map.rating {
	height:148px;
}

#mtl-editor-rating-motivation-box iframe {
	height:150px !important;
}

.horizon-select label {
	display:block;
}

.implementation-horizon {
	padding-top:8px;
}