/* admin css extra styles */

/* ### Iconfonts ### */

@font-face {
	font-family: 'icomoon';
	src:url('iconfonts/icomoon.eot?-7fhc3n');
	src:url('iconfonts/icomoon.eot?#iefix-7fhc3n') format('embedded-opentype'),
		url('iconfonts/icomoon.woff?-7fhc3n') format('woff'),
		url('iconfonts/icomoon.ttf?-7fhc3n') format('truetype'),
		url('iconfonts/icomoon.svg?-7fhc3n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.menu-top.toplevel_page_mtl_settings_page  .dashicons-before:before,
.mtl-admin-page-title .logo:before {
	font-family: 'icomoon';
	content: "\e600";
	font-weight:normal;
}

.mtl-admin-page-title .logo:before {
	font-size:150%;
	color:#999999;
}

/* admin options pages */

.form-table {
	width:100%;
}

.form-table input[type="text"] {
	width:100%;
	max-width:400px;
}

.form-table textarea {
	width:100%;
	max-width:400px;
	height:100px;
}

.form-table hr {
	border-top-color: #000000;
	border-bottom-color: #444444;
}