/* Styles for MTL metaboxes module */

/* Created by Johannes Bouchain 2015-04-25 */
#mtl-category-select {
	display:block;
}

#mtl-category-select label {
	display:block;
}

#mtl-map-box {
	position:relative;
}

#mtl-box .feature-textinput-box {
    position: absolute;
    top: 30px;
    right: 8px;
    width: 236px;
    z-index: 2000;
    padding: 5px;
    background: none repeat scroll 0% 0% #CCC;
    border: 1px solid #AAA;
    display: none;
    text-align: left;
}

#mtl-editors-hints-box iframe {
	height:150px !important;
}