.mtl-tab-selector {
	position: relative;

	display: flex;
	justify-content: space-around;
}

.mtl-tab-selector-option {
	width: 200px;
	height: 50px;
	margin: 0px 10px;
	padding: 5px;

	display: block;
	text-align: center;
	background-color: var(--primary-color);
}

.mtl-tab-selector-option.unselected {
	background-color: var(--secondary-color);
}

.mtl-tab.unselected {
	display: none;
}

.mtl-tab-box {
	position: relative;
	margin-bottom: 1em;
	width: calc(100% + 20px);
	min-width: fit-content;
	left: -10px;

	background-color: var(--primary-color);
}

/* paginate links */

#content .mtl-paginate-links {
	margin-bottom:12px;
	text-align:center;
}

#content .mtl-paginate-links .page-numbers {
	color:white;
	font-weight:bold;
	display:inline-block;
	padding:2px 5px;
	color:rgb(230, 19, 126);
}

#content .mtl-paginate-links .page-numbers.prev,
#content .mtl-paginate-links .page-numbers.next {
	font-weight:normal;
}

#content .mtl-paginate-links .page-numbers.prev:before {
	display:inline-block;
	font-family:FontAwesome;
	font-weight:bold;
	content: "\f104";
	font-size:115%;
}

#content .mtl-paginate-links .page-numbers.next:before {
	display:inline-block;
	font-family:FontAwesome;
	font-weight:bold;
	content: "\f105";
	font-size:115%;
}

#content .mtl-paginate-links a.page-numbers:hover,
#content .mtl-paginate-links a.page-numbers:focus,
#content .mtl-paginate-links a.page-numbers:active {
	background:rgb(0, 174, 239);
	color:white;
}	

#content .mtl-paginate-links .page-numbers.current {
	background:rgb(0, 174, 239);
	color:white;
}

#content #popup-content-draft-flag.draft-flag,
#content .mtl-postlist-item .draft-flag,
#content .mtl-post-tile .draft-flag {
	padding:0 4px;

	background:white;
	border: 1px solid grey;
	color:#666666 !important;
	font-weight:bold;
}

/* thumblist maps */
#content .mtl-thumblist-map {
	position:absolute;
	background:white;
	height:170px;
	width:190px;
}

#content div.mtl-post-tile .background-tilelayer {
	opacity:.2 !important;
}

/* content tiles */

#content .mtl-list-loader {
	width:100%;
	background:rgba(255,255,255,.8);
	padding:50px 0px;
	text-align:center;
	z-index:1;
	position:absolute;
	top:0;
	left:0;
}

#content .mtl-list-loader.bottom {
	bottom:0;
}

#content .mtl-posttiles-list {
	margin:0 -10px;
	width:calc(100% + 20px);
	padding: 0;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#content .mtl-tile,
#content .mtl-post-tile {
	background: var(--primary-color);
	width:240px;
	height:240px;
	text-align:left;
	margin: 10px;
}

#content .mtl-post-tile {
	position:relative;
	background:#cccccc;
	padding:10px;
	width:190px;
	height:250px;
	display:block;
}

#content .mtl-post-tile.add-post {
	background:url(../../images/add-proposal.png) center center no-repeat var(--secondary-color);
}

#content .tile,
#content .mtl-post-tile * {
	color:white !important;
}

#content .mtl-post-tile .entry-thumbnail {
	width:190px;
	height:148px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom:50px;
}

#content .mtl-post-tile h1 {
	font-size:80%;
	text-align:left;
	padding-bottom:0;
	margin-bottom:2px;
	line-height:1.4em;
}

#content .mtl-post-tile h1 a {
	display:block;
	margin:-210px 0 0 -10px;
	padding:190px 10px 0 10px;
	width:190px;
	font-weight:bold;
	height:37px;
	overflow:hidden;
	position:relative;
}

#content .mtl-post-tile :not(footer)>.entry-meta,
#content .mtl-post-tile .entry-footer {
	font-size:80%;
	white-space:nowrap;
	line-height:1.4em;
}

#content .mtl-post-tile .entry-meta {
	height:18px;
	overflow:hidden;
}

#content .mtl-post-tile a.post-edit-link {
	position:absolute;
	display:block;
	top:10px;
	right:10px;
	padding:3px;
	background:black;
}

.mtl-postlist {
	width: 920px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.mtl-postlist-item {
	position: relative;
	height: 250px;
	width: calc(100% - 40px);
	margin: 10px;
	padding: 10px;

	display: flex;
	background: #cccccc;
	text-align: left;
	overflow-y: auto;
}

.mtl-postlist-item.add-post {
	background-color: var(--secondary-color);
	align-items: center;
}

.mtl-postlist-item.add-post>img {
	position: relative;
	top: 20px;
}

.mtl-postlist-item * {
	color: white !important;
}

.mtl-list-map {
	position: relative;
	width: 190px;
	height: 100%;

	background-color: white
}

.mtl-list-map-link {
	margin-right: 10px;
}

.mtl-list-content-link {
	position: absolute;
	left: -10px;
	height: 100%;
	width: calc(100% + 10px);
}

.mtl-list-content {
	width: calc(100% - 200px);

	display: flex;
	flex-direction: column;
}

.mtl-list-content>header {
	position: relative;
}

.mtl-list-content>.the_content {
	padding: 5px;

	overflow: auto;

	border: 1px solid;
	border-radius: 10px;
}

#content .mtl-list-content h1 {
	margin-bottom: 5px;
}

#content .add-post h1 {
	text-align: start;
}

.mtl-list-content>footer {
	margin-top: 5px;
}

.mtl-list-content a.post-edit-link {
	text-decoration-line: underline;
}

.mtl-postlist-item .background-tilelayer {
	opacity: .2 !important;
}

.mtl-tab #mtl-box {
	padding: 10px;
}

.mtl-tab .mtl-map-controls {
	font-weight: bold;
}

.ol-popup {
	position: absolute;
	padding: 15px;
	bottom: 12px;
	left: -50px;
	width: max-content;

	background-color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cccccc;
	border-radius: 10px;
}

.ol-popup:after,
.ol-popup:before {
	height: 0;
	width: 0;
	position: absolute;
	top: 100%;

	border: solid transparent;
	content: " ";
	pointer-events: none;
}

.ol-popup:after {
	left: 48px;
	margin-left: -10px;

	border-top-color: white;
	border-width: 10px;
}

.ol-popup:before {
	left: 48px;
	margin-left: -11px;

	border-top-color: #cccccc;
	border-width: 11px;
}

.ol-popup-closer {
	position: absolute;
	top: 2px;
	right: 8px;
	margin-bottom: 2px;
	margin-left: 8px;

	text-decoration: none;
}

.ol-popup-closer:after {
	content: "✖";
}

.ol-popup-content {
	margin-right: 15px;

	font-size: 0.8em;
}