.mtl-tab-selector {
	position: relative;

	display: flex;
	justify-content: space-around;
}

.mtl-tab-selector-option {
	width: 200px;
	height: 50px;
	margin: 0px 10px;
	padding: 5px;

	display: block;
	text-align: center;
	background-color: var(--primary-color);
}

.mtl-tab-selector-option.unselected {
	background-color: var(--secondary-color);
}

.mtl-tab.unselected {
	display: none;
}

.mtl-tab-box {
	position: relative;
	margin-bottom: 1em;
	width: calc(100% + 20px);
	min-width: fit-content;
	left: -10px;

	background-color: var(--primary-color);
}

.mtl-postlist {
	width: 920px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.mtl-postlist-item {
	position: relative;
	height: 250px;
	width: calc(100% - 40px);
	margin: 10px;
	padding: 10px;

	display: flex;
	background: #cccccc;
	text-align: left;
	overflow-y: auto;
}

.mtl-postlist-item.add-post {
	background-color: var(--secondary-color);
	align-items: center;
}

.mtl-postlist-item.add-post>img {
	position: relative;
	top: 20px;
}

.mtl-postlist-item * {
	color: white !important;
}

.mtl-list-map {
	position: relative;
	width: 190px;
	height: 100%;

	background-color: white
}

.mtl-list-map-link {
	margin-right: 10px;
}

.mtl-list-content-link {
	position: absolute;
	left: -10px;
	height: 100%;
	width: calc(100% + 10px);
}

.mtl-list-content {
	width: calc(100% - 200px);

	display: flex;
	flex-direction: column;
}

.mtl-list-content>header {
	position: relative;
}

.mtl-list-content>.the_content {
	padding: 5px;

	overflow: auto;

	border: 1px solid;
	border-radius: 10px;
}

.mtl-list-content h1 {
	margin-bottom: 5px !important;
}

.mtl-list-content>footer {
	margin-top: 5px;
}

.mtl-list-content a.post-edit-link {
	text-decoration-line: underline;
}

.mtl-postlist-item .background-tilelayer {
	opacity: .2 !important;
}

.mtl-tab #mtl-box {
	padding: 10px;
}

.mtl-tab .mtl-map-controls {
	font-weight: bold;
}

.ol-popup {
	position: absolute;
	padding: 15px;
	bottom: 12px;
	left: -50px;
	width: max-content;
	
	background-color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cccccc;
	border-radius: 10px;
}

.ol-popup:after,
.ol-popup:before {
	height: 0;
	width: 0;
	position: absolute;
	top: 100%;

	border: solid transparent;
	content: " ";
	pointer-events: none;
}

.ol-popup:after {
	left: 48px;
	margin-left: -10px;

	border-top-color: white;
	border-width: 10px;
}

.ol-popup:before {
	left: 48px;
	margin-left: -11px;

	border-top-color: #cccccc;
	border-width: 11px;
}

.ol-popup-closer {
	position: absolute;
	top: 2px;
	right: 8px;
	margin-bottom: 2px;
	margin-left: 8px;

	text-decoration: none;
}

.ol-popup-closer:after {
	content: "✖";
}

.ol-popup-content {
	margin-right: 15px;

	font-size: 0.8em;
}